@media screen and (max-width: 600px) {
  * {
    font-size: large;
    box-sizing: content-box;
  }
  .menu-items {
    width: 100% !important;
  }
  .menu-items li {
    margin-bottom: 1rem !important;
  }
}
.navbar {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #273036;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
  z-index: 10;
}
.navbar a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #1a83ff;
}
.navbar a:hover {
  color: #be38a8;
}
.navbar svg {
  font-size: large;
}
.navbar-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.menu-items {
  top: 0;
  left: 0;
  width: 35%;
  background-color: #273036;
  height: 110vh;
  display: grid;
  grid-template-rows: 1fr;
  padding: 0.5rem;
  position: absolute;
  transition: all 0.15s linear;
  transform: translatex(-100%);
  position: fixed;
  z-index: 10;
}
.menu-items li {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-large;
  font-display: none;
  color: steelblue;
  margin-bottom: 2rem;
}
.menu-items li:hover {
  background-color: #a0a0a0;
  cursor: pointer;
}
.meni-title {
  margin-left: 5px;
  padding-left: 5px;
  text-decoration: none;
}
.active {
  transform: translatex(0);
  transition: all 0.25s linear;
}
.menu-items a {
  text-decoration: none;
  margin-left: 20px;
  color: #1a83ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.menu-items svg {
  padding: 8px;
  font-size: 2.5rem;
}
.menu-items svg:hover {
  color: blue;
}
.menu-items button {
  max-width: 1.2rem;
  background-color: #273036;
  font-size: x-large;
  cursor: pointer;
  font-size: 1rem;
}
