@media screen and (max-width: 600px) {
  * {
    font-size: large;
    box-sizing: content-box;
  }
  .menu-items {
    width: 100% !important;
  }
  .navbar {
    max-width: fit-content;
  }
}
.navbar {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
}
.navbar a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #1a83ff;
}
.navbar a:hover {
  color: #be38a8;
}
.navbar svg {
  font-size: large;
}
.navbar-menu {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.menu-items {
  width: 35%;
  background-color: #222;
  height: 98vh;
  display: grid;
  grid-template-rows: 1fr;
  padding: 0.5rem;
  top: 0;
  left: -110%;
  position: absolute;
  transition: all 0.2s linear;
  position: fixed;
}
.menu-items li {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-large;
  font-display: none;
  color: steelblue;
  margin: 0 auto 2rem auto;
}
.menu-items li:hover {
  background-color: #a0a0a0;
  cursor: pointer;
}
.meni-title {
  margin-left: 5px;
  padding-left: 5px;
  text-decoration: none;
}
.active {
  left: 0;
  transition: all 0.5s linear;
}
.menu-items a {
  text-decoration: none;
  margin-left: 20px;
  color: #1a83ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.menu-items svg {
  padding: 8px;
  font-size: 2.5rem;
}
.menu-items svg:hover {
  color: blue;
}
.menu-items button {
  background-color: #222;
  font-size: x-large;
  margin-top: 5px;
  cursor: pointer;
}
