* {
  box-sizing: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  width: 100%;
}
.content {
  color: white;
  width: 98vh;
  height: auto;
  padding: 2rem;
  margin: 10rem auto;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  animation: hide 2s linear;
}
@keyframes hide {
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
